/* Misc */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$vue-color: #46bd87;
$danger-color: #ea4d46;

$primaryColor1: hsl(225, 100%, 94%);
$primaryColor2: hsl(245, 75%, 52%);

$neutralColor1: hsl(225, 100%, 98%);
$neutralColor2: hsl(224, 23%, 55%);
$neutralColor3: hsl(223, 47%, 23%);

$light: #fff;

$textFont: 'Red Hat Display', sans-serif;

/* Navbar */

$navbar-height: 3.6rem;
$navbar-color: #fff;
$navbar-offline-color: #333;
$navbar-link-color: #2c3e50;
